html,
body {
	background-color: #f6f6f6!important;
}

h1 {
	color: #cd220a;
	text-align: center;
	padding-bottom: 22px;
}

.container {
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.30);
	padding: 20px 0!important;
}

.top_bar {
	margin-top: 15px;
	text-align: center;
	position: relative;
	color: #000;
	display: inline-block;
	box-shadow: inset 0px -11px 8px -10px #bbb;
	width: 100%;
	padding: 0 20px 10px 20px
}

.bottom_bar {
	padding: 0 20px;
	margin-top: 30px;
	width: 100%;
	display: inline-block
}

.single_table {
	border: 1px solid #e6e6e6;
	background: #ffffff;
	margin: 8px 0
}

.single_table .single_row {
	font-size: 11px;
	padding: 4px;
	color: #6f7269;
	position: relative;
	border-bottom: 1px solid #e6e6e6
}

.single_table .single_row:after {
	position: absolute;
	content: '';
	border-left: 1px solid #e6e6e6;
	height: 100%;
	top: 0;
	right: 50px
}

.single_table .single_row:first-child {
	font-weight: bold;
	border-bottom: 4px solid #b6000e;
	color: #000
}

.single_table .single_row:last-child {
	border-bottom: 0
}

.sp_bars {
	position: relative;
	width: 100%
}

.top_bar .sp_bars>div {
	position: absolute;
	top: 52px;
	font-size: 12px
}

.f_column .sp_first,
.s_column .sp_first,
.t_column .sp_first,
.fo_column .sp_first {
	width: 50%;
	left: 0
}

.f_column .sp_last,
.s_column .sp_last,
.t_column .sp_last,
.fo_column .sp_last {
	width: 50%;
	right: 0
}

.sel_button {
	margin-top: 20px
}

.sel_button a {
	border: 1px solid #b6000e;
	display: inline-block;
	color: #000;
	text-decoration: none;
	padding: 3px 10px;
	font-weight: bold;
	font-size: 13px
}

.f_column {
	width: 240px;
	float: left;
	margin: 0 10px
}

.s_column {
	width: 270px;
	float: left;
	margin: 0 10px
}

.t_column {
	width: 210px;
	float: left;
	margin: 0 10px
}

.fo_column {
	width: 295px;
	float: left;
	margin: 0 10px
}